main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    align-items: center;
}

#locationWeatherContainer {
    background-color: rgba(77, 151, 230, 0.404);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

#locationWeatherContainer h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

#locationWeatherContainer img {
    width: 100px;
    height: auto;
    margin: 10px 0;
}

#locationWeatherContainer .temperature {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
    color: #fff;
}

#locationWeatherContainer .description {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#locationWeatherContainer p {
    margin: 5px 0;
    font-size: 1em;
    color: #fff;
}

#chartContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-height: 300px;
    gap: 2em;
    margin: 20px 0px;
}


@media (min-width: 768px) {
    body {
        flex-direction: row ;
    }
}

@media (min-width: 1200px) {
    #chartContainer {
        flex-direction: row;
        flex-wrap: wrap;
        /* max-width: 400px; */
        align-self: flex-start;
    }
}