* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: fit-content;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#navContainer {
    width: 100%;
    background: linear-gradient(120deg, #0033cc, #66ccff);
    padding: 20px;
    color: white;
    text-align: center;
}

/* Style the heading */
#navContainer h1 {
    margin-bottom: 30px;
    font-size: 1.5em;
    color: #ffffff;
}

#nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav li {
    margin: 20px 0px;
}

#nav a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2); 
    transition: all 0.3s ease-in-out; 
}

#nav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #333333; 
}

#locationForm {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#location {
    padding: 12px;
    border: 2px solid #b7b9bb;
    border-radius: 5px;
    transition: border-color 0.3s;
    flex-grow: 1;
}

#location:focus {
    border-color: #007bff;
    outline: none;
}

#locationForm button {
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, border 0.3s;
    margin-left: 10px;
}

#locationForm button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@media (min-width: 768px) {
    
    #navContainer {
        max-width: 250px;
        height: 300vh;
    }
}

@media (min-width: 1200px) {

    #navContainer {
        max-width: 250px;
        height: 300vh;
    }
}
